<!DOCTYPE html>
<html>
<head>
  <title>Rubyconf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<body class="<%= controller_name%><%= action_name %>">

<div class ="container">
  <ul class="nav-tabs">
		<li><%= link_to_unless_current("index",root_path) %></li>
		<li><%= link_to_unless_current("about",{action: "about"}) %></li>
		<li><%= link_to_unless_current("login",{action: "login"}) %></li>
		
		</ul>

<%= yield %>
</div>
</body>
</html>
