<!DOCTYPE html>
<html>
<head>
  <title>Rubyconf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<body class="<%= controller_name%><%= action_name %>">

<div id="nav">
<%= link_to_unless_current("comingsoon",root_path) %>
<%= link_to_unless_current("about",{action: "about"}) %>
<%= link_to_unless_current("login",{action: "login"}) %>
<%= link_to_unless_current("index",{action: "index"}) %>
</div>
<%= yield %>

</body>
</html>
