<!DOCTYPE html>
<html>
<head>
  <title>Rubyconf</title>
  <link href="/assets/style.css?body=1" media="screen" rel="stylesheet" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<body class="<%= controller_name%><%= action_name %>">

<div id="container">
	<div id="ernst">
		<ul>
			<li><%= link_to_unless_current("INDEX",root_path) %></li>
			<li><%= link_to_unless_current("ABOUT US",{action: "about"}) %></li>
			<li><%= link_to_unless_current("LOGIN",{action: "login"}) %></li>
			<li><%= link_to_unless_current("CONTACTUS",{action: "contactus"}) %></li>
			<li><%= link_to_unless_current("FAQ",{action: "faq"}) %></li>
		</ul>
	</div>

	<%= yield %>
</div>
</body>
</html>
